@import "publicStyle.css";
/*表格部分*/
table.table{
    font-size: 14px;
}
table.table th,table.table td{
    text-align: center;
    vertical-align: middle;
}
table td p,table th p{
    margin-bottom: 0;
    text-align: center;
}
.pagination{
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.page-item.disabled .page-link,.pagination .page-link{
    background: transparent;
}
.page-item.active .page-link{
    border-color: white;
    background-color: rgba(0,0,0,.3);
}
.page-item .page-link:hover{
    background-color: rgba(0,0,0,.3);
}
.page-item .page-link{
    color: white;
}
.page-item.disabled .page-link{
    color: #cacaca;
}
.pageSize{
    position: absolute;
    left: 18px;
    z-index: 1000;
    width: 60px;
    height: 27px;
    background-color: rgba(0,0,0,.3);
    color:white;
    border:none;
    border-radius: 2px;
    padding-left: 5px;
}
.totalCount {
    position: absolute;
    left: 78px;
    z-index: 10;
    height: 27px;
    border-left: 1px solid rgba(255,255,255,.3);
    color: white;
    font-size: 14px;
    line-height: 27px;
    background-color: rgba(0,0,0,.3);
    padding: 0 8px;
    border-radius: 0 3px 3px 0;
}
.totalCount span.dataNum{
    display:inline-block;
    width:40px;
    text-align:center;
}
.pageSize option {
    background-color: #7d7d7d;
}
.pageSize option{
    background-color: #7d7d7d;
}

.modal-content{
    background: url('../imgs/blur-bg-blurred.jpg');
    background-size: cover;
}
.modal-body .select-wrap,.modal-body .select-wrap label{
    display: flex;
    align-items: center;
}
.modal-body .select-wrap label{
    width: 20%;
}
.modal-body .select-wrap label input{
    margin-right: 10px;
}
.modal-body .content textarea:focus{
    background: rgba(0,0,0,.3);
}
.selectFile-wrap{
    position: relative;
}
.modal-body .selectBtn{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 85px;
    left: 0;
}

#uploadForm{
    display: flex;
}
.mR{
    margin-left: 15px;
}
.badge{
    color:red;
    background-color: white;
    margin-left: 5px;
}
.pagenation-wrap{
    display: flex;
    justify-content: center;
    align-items:center;
}
ul.pagenation-wrap{
    list-style: none;
    margin-bottom: 0;
}
.pageto-wrap li{
    height: 27px;
    width: 50px;
}
.pageto{
    height: 27px;
    border: 1px solid white;
    position: relative;
    top: -1px;
    width: 46px;
    text-align: center;
}
.pageto-input{
    width: 50px;
    height: 27px;
}
.pageto-button{
    height: 27px;
    line-height: 16px;
    width: 50px;
    padding: 0!important;
}